body {
  background: #DFDFDF;
}
.header {
  padding: 16px 0 13px;
  /*top->right->down->left*/
  background: #ffffff;
}
.search-form input[type="text"]{
  border-radius: 0;
  padding-right: 90px;
}
.search-form .glyphicon-search{
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translate(0, -50%);
  color: #cecece;
}
.site-logo{
  font-size: 22px;
  font-weight: 100;
  line-height: 34px;
  color: #00A0C6;
}
.site-logo img{
  max-height: 34px;
}
.profile_wrapper{
  border: 1px solid #cecece;
  line-height: 34px;
}
.profile_wrapper button{
  float: left;
  display: inline-block;
  width: 34px;
  height: 34px;
  font-size: 18px;
  text-align: center;
  color: #cecece;
  border: none;
  background: white;
  border-right: 1px solid #cecece;
}
.profile_wrapper button:hover{
  color: #ffffff;
  background: #00A0C6;
}
.username{
  padding-left: 15px;
  color: #cecece;
}



.item_container {
  margin-top: 30px;
}
.item {
  background: #ffffff;
}
.image_container {
  position: relative;
}
.image_container > img {
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.image_container:hover .overlay{
  display: block;
}


.info_container {
  padding: 0px 15px 15px 15px;
}
.author_info {
  margin-bottom: 15px;
}
.author_avatar {
  float: left;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.plus_button {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 40px;
  width: 40px;
  line-height: 30px;
  font-size: 2em;
  background: transparent;
  color: #ffffff;
  border: 0 none;
  cursor: pointer;
}
button .glyphicon {
  left: 2px;
  top: 2px;
}
.plus_button:hover {
  color: #333333;
  background: #cecece;
}

.img_statistics_container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
}


.modal-content {
  border-radius: 20px;
  width: 42%;
  margin-top: 10px;
  min-width: 300px;
}
.plus_button_modal {
  margin: 25px;
  height: 40px;
  width: 40px;
  line-height: 30px;
  font-size: 2em;
  background: transparent;
  color: #cecece;
  border: 0 none;
  cursor: pointer;
  float: left;
}
.plus_button_modal:hover {
  background: #cecece;
  color: #ffffff;
}
.img_statistics_container_modal {
  color: #cecece;
  display: inline-block;
  float: right;
  padding-top: 25px;
}
.image_modal {
  width: 95%;
  margin-left: 13px;
}
.avatar_big {
  width: 80px;
  height: 80px;
}
.text_muted {
  color: #cecece;
}
.modal-content .info_container>p {
  padding-top: 10px;
}
.comment_container>p {
  margin-left: 65px;
}
